th {
    border-bottom: 1px solid black;
}
  
th div{
    display: flex;
    justify-content: center;
}
  
table, th, td {
    border: 3px solid #ffffff;
    border-collapse: collapse;
}
  
th, td {
    padding: 15px;
}

td {
    min-width: 80px;
    height: 120px;
}

input {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

input ~ .checkmark {
    background-color: #ccc;
}

input:checked ~ .checkmark {
    background-color: #2196F3 !important;
}

input :after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.table-name {
    display: flex;
    justify-content: start;
    font-size: xx-large;
    text-decoration: underline;
} 

.pagination {
    margin: 10px;
}

.pagination button {
    margin: 5px;
}